<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pong Revived iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Pong Revived.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7104D12117E0C5AC00DBDF0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71195D0C1C410ED50021FAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71195D1F1C410ED60021FAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71195D2A1C410ED60021FAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
